.rectangle {
    margin: 10px;
}

.smallHeader {
  color: #21b6ae;
}

.about {
    color: #761191;
    margin: 25px
}

.image {
    top: 10px;
    left: 10px;
    position:absolute;
    background-color: antiquewhite;
    margin: 0px 175px 0px 175px;
}

.paragraph {
    color: white;

}
